@charset "UTF-8";
@import "./variaveis.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin flexCenter($flex_direction){
    display: flex;
    flex-direction: $flex_direction;
    align-items: center;
    justify-content: center;
}
body{ 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: $secundaryColor; 
}
header{
    @include flexCenter(column);                             

    height: 60px;
    text-align: center; 
    background-color: green;
    h1{
        margin-bottom: 5px;
    }
    .menu{
        display: flex;
        list-style-type: none;
        a{
            text-decoration: none;
            color: white;
            
            &:hover{
                text-decoration: underline;
            }
            &:not(:nth-child(5)){
                margin-right: 20px;
            }
        }
        
    }
}
.container{
    margin: auto;
    width: 800px;
    padding: 15px;
    h2{
        text-align: center;
        font-size: 30px; 
        color: blue;
    }
    .conteudo{
        @include flexCenter(row)
    }
    p{
        text-indent: 30px;
        line-height: 22px;
    }
    ul{
        list-style-type: none;
        a{
            color: black;
            font-weight: bold;
            text-decoration: none;
            font-style: italic;
            &:hover{
                text-decoration: underline;
            }
            &:after{
                content: ' ola ';
                color: blue;
            }
            &:before{
                content: 'alo ';
                color: red;
            }
        }
    } 
}
 